.review form, h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review form input, textarea{
    border-radius: 5px;
    border: 1px solid black;
    width: 50%;
    margin-bottom: 10px;
}